/* :root{
    background-color: blue;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1{
    font-size: 3rem;
    color: coral;
    margin-bottom: 5rem;
}

h2{
    font-size: 2rem;
    color: black;
    margin-bottom: 5rem;
    
}

.container{
widows: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
max-width: 80rem;
margin: 0 auto;
padding: 2rem;

}

.flex-column{
    display: flex;
    flex-direction:column;
}

.flex-center{
    justify-content: center;
    align-items: center;

}

.justify-center{
justify-content: center;

}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}

.btn{
    font-size: 2.4rem;
    padding: 2rem;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    color: chartreuse;
    border-radius: 4px;
}

.btn:hover{
    curser:pointer;
    box-shadow: darkblue;

}

.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow:none;
    transform:none;
} */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: lightblue;
}

.start_btn,
.info_box
.quiz_box{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, 050%);
}

/* start button */
.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: lightblue;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: white;
    cursor: pointer;
}

.info_box{
    display: none;
    width: 540px;
    background: white;
    border-radius: 5px;
}

.info_box .info_title{
    height:60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info_list{
    padding:15px 35px;

}

.info_box .info_list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info_list .info span{
    font-weight: 600;
    color: blue;
}

.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgrey;
    
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.buttons button.restart{
color:lightblue;
border-color: blue;
}

.buttons button.restart:hover{
   background:  blue;
    }

.buttons button.quit{
    color: blue;
    border-color: blue;
}

.buttons button.quit:hover{
    color: white;
    background:  blue;
     }

  .quiz_box{
      width: 550px;
      background: orange;
      border-radius: 5px;
  }   


  /* start here - need to complete the styling for quiz box.  it also appear that questions not nested in quiz box.   */
  .quiz_box header{

    height:70px;
    padding: 0 30px;
    background: orange;
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: opx 3px 5px 1px darkorange;
  }

  .quiz_box header.title{
font-size: 20px;
font-weight: 600;
  }

  .quiz_box header .timer{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 180px;
      height: 45px;
      border: 2px solid darkorange;
      border-radius: 7px;
      padding: 0 8px;
      
  }